{% extends "base.html"%}
{% set page_title = 'Tambah Mahasiswa' %}

{% block _content %}

<h1>TAMBAH MAHASISWA</h1>
<form action="{{url_for('tambah_mhs')}}" method="POST">
    <div class="my-5">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" id="nama" name="nama">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
        <label for="nim" class="form-label">NIM</label>
        <input type="number" class="form-control" id="nim" name="nim">
        <label for="jurusan" class="form-label">Jurusan</label>
        <input type="text" class="form-control" id="jurusan" name="jurusan">
        <input type="submit" class="mt-4" value="Tambah Mahasiswa">

    </div>

</form>
    
    
    
</form>

{% endblock %}